# Токен вашего бота
BOT_TOKEN = "ВАШ_ТОКЕН_ЗДЕСЬ"

# ID целевого сервера
GUILD_ID = ВАШ_GUILD_ID_ЗДЕСЬ

# Включить режим отладки (True/False)
DEBUG = False

# Нужен ли канал для отображения кол-ва участников (True/False)
MEMBER_COUNT_CHANNEL_NEED = False

# Раз в какое время обновлять кол-во участников (в секундах). 
# Не рекомендуется ставить меньше 300 секунд, чтобы избежать проблем с API Discord. 
# Рекомендуемое значение - 600 секунд (10 минут).
MEMBER_COUNT_UPDATE_INTERVAL = 600

# ID канала для отображения количества участников
MEMBER_COUNT_CHANNEL = ВАШ_MEMBER_COUNT_CHANNEL_ID_ЗДЕСЬ